.App {
    font-family: sans-serif;
}

body > iframe {
    display: none !important;
}

.element--optimistic-ui {
    color: blue;
}

.status {
    &-complete {
        color: green;
    }

    &-error {
        color: red;
    }

    &-pending {
        color: blue;
    }
} 